<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokemon Index Route</title>
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1 class='title'>Click a Pokemon to See More!
          <form class="make-new-pokemon" action="/pokemon/new" method="get">
            <input size=40 type="submit" name="" value="Create a new pokemon">
          </form></h1>

      </div>
      <ul class='pokemon'>
        <%for (let i = 0; i < pokemon.length; i++){%>
          <li><a href="/pokemon/<%=i%>"><%=pokemon[i].name%></a>
          <form class="delete-pokemon" action="/pokemon/<%=i%>?_method=DELETE" method="post">
            <input size='40'type="submit" name="" value="Delete <%=pokemon[i].name%>">
          </form></li>
        <%}%>
      </ul>
    </div>
  </body>
</html>
