<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Make a new pokemon</h1>
    <form class="" action="/pokemon" method="POST">
      Name: <input size=40 type="text" name="name"/><br/>
    </form>
  </body>
</html>
